* {
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  background-image: url("images/back.png");
  height: 100vh;
}

main {
  height: calc(100vh - 60px);
  backdrop-filter: blur(2px);
}
h1 {
  color: #0c033d;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  padding-top: 2rem;
}
.choice {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
  background-color: #0c033d;
}
img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
  margin-top: 4rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
.msg-container {
  margin-top: 3.5rem;
}
.msg {
  background-color: #0c033d;
  color: #ffff;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width: 768px) {
  body {
    background-image: url("images/mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  main {
    backdrop-filter: blur(5px);
  }
  .choices {
    gap: 0.4rem;
    margin-top: 3rem;
  }
  .choice {
    height: 120px;
    width: 120px;
  }
  img {
    height: 110px;
    width: 110px;
  }
  .score-board {
    font-size: 1.5rem;
  }
  #user-score,
  #comp-score {
    font-size: 3.5rem;
  }
  .msg {
    background-color: #0c033d;
    color: #ffff;
    font-size: 0.99rem;
    margin-top: 5rem;
    padding: 1rem;
    border-radius: 1rem;
  }
  footer i {
    font-size: 5px;
  }
  span {
    color: #b11313;
    font-weight: 400;
    font-size: 5px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px 0;
  font-size: 14px;
  color: #777;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s ease;
}

footer a:hover {
  color: #4f8cff;
}

footer i {
  font-size: 1.4rem;
}
span {
  color: #000000;
  font-weight: 600;
  font-size: 1.4rem;
}
